<ul id="headmenu" class="head-menu">
  <li class="head-menu-item{% if page.url contains '/getting-started' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/getting-started/">Getting Started</a></li>
  <li class="head-menu-item{% if page.url contains '/structure' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/structure/">LiSA's Structure</a></li>
  <li class="head-menu-item{% if page.url contains '/imp' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/imp/">The IMP Language</a></li>
  <li class="head-menu-item{% if page.url contains '/releases' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/releases/">Releases</a></li>
  <li class="head-menu-item{% if page.url contains '/publications-talks' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/publications-talks/">Publications & Talks</a></li>
</ul>