<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}" type="text/plain" cookie-consent="tracking"></script>
      <script type="text/plain" cookie-consent="tracking">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
	  
		<!-- Cookie Consent by https://www.TermsFeed.com -->
		<script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
		<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
		cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"en","website_name":"LiSA","change_preferences_selector":"#cookiePrefs"});
		});
		</script>

		<noscript>Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow noopener">TermsFeed</a></noscript>
		<!-- End Cookie Consent -->

		<noscript>Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow noopener">TermsFeed</a></noscript>
		<!-- End Cookie Consent -->
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ site.baseurl }}/custom-assets/custom.js"></script>
    <script src="https://kit.fontawesome.com/954504fcb3.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<header class="page-header" role="banner">
		<div class="title-wrapper">
		  <a class="project-name" href="{{ site.baseurl }}" id="site-title"><img src="{{ site.baseurl }}/white-title-no-bg-cropped.png" alt="{{ site.title }}" style="height: 1em"/></a> 
		  <span class="project-tagline">{{ site.description }}</span>
		</div>
	  
		<div class="buttons-wrapper">
		  <a href="{{ site.github.repository_url }}" class="btn"><i class="fab fa-github"></i>&nbsp;&nbsp;LiSA Repository</a>
		  <a href="{{ site.github.owner_url }}" class="btn"><i class="fas fa-university"></i>&nbsp;&nbsp;LiSA Analyzer GitHub</a>
		</div>
    </header>
	  
	{% include toggle-menu.html %}
	{% include simple-menu.html %}
    <main id="content" class="main-content" role="main">  
	  
	  {% unless page.notoc %}
		{% include breadcrumbs.html %}
	  {% endunless %}
	  
	  {{ content }}

	  <button onclick="topFunction()" id="backToTopBtn" title="Go to top"><i class="fas fa-angle-double-up"></i></button>
	  
      <footer class="site-footer">
      	<center>
      	<img alt="GitHub License" src="https://img.shields.io/github/license/lisa-analyzer/lisa?color=brightgreen"/>
		<img alt="GitHub Workflow Status (master)" src="https://img.shields.io/github/workflow/status/lisa-analyzer/lisa/Gradle%20Build/master"/>
		<img alt="GitHub Latest Release" src="https://img.shields.io/github/v/release/lisa-analyzer/lisa?display_name=release&color=brightgreen"/>
		<img alt="GitHub Last Commit Date" src="https://img.shields.io/github/last-commit/lisa-analyzer/lisa"/>
      	<br>
		<span class="site-footer-credits"><i class="fas fa-cookie"></i> <a id="cookiePrefs" title="Manage cookies preferences">Manage cookie preferences</a></span>
		<br>
	    <span class="site-footer-credits">Maintained by the <a href="{{ site.ssv-homepage }}">Software and System Verification (SSV)</a> group @ Università Ca' Foscari in Venice, Italy.</span>
		<br>
		<span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
		</center>
      </footer>
    </main>
  </body>
</html>
